<!--
6 главных особенностей КАЦ с 09.09.2025 (приказ Минстроя № 30/пр)

Title head - 6 главных особенностей КАЦ с 09.09.2025 (приказ Минстроя № 30/пр) | Сметная школа

Description head - Ключевые изменения КАЦ по приказу № 30/пр: шесть главных нововведений, новые требования к заказчику, обновленная форма.

Description - Ключевые изменения КАЦ по приказу № 30/пр: шесть главных нововведений, новые требования к заказчику, обновленная форма.

URL - https://smetaschool.com/poleznye-materialy/6-glavnyh-osobennostej-kats-s-9-sentyabrya-2025

ТЕГ - КАЦ

Order - 64

Дата - 02.12.2025 г.

Вам может быть интересно - Как выгрузить конъюнктурный анализ цен в XML-формат в ГРАНД-Смете
                           Как в РИКе выгрузить в XML формат конъюнктурный анализ цен
                           9 главных изменений в сметном ценообразовании за 9 месяцев 2025 года
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        6 главных особенностей КАЦ с 09.09.2025 (приказ Минстроя № 30/пр)
                    </div>
                    <div class="title-date container-date">02.12.2025</div>
                    <div class="lead-text container-m">
                        Из истории вопроса:
                        <br>
                        <br>
                        5 мая 2025 года вступила в силу новая редакция Методики № 421/пр (приказ Минстроя России от 23.01.2025 № 30/пр). В числе очередных, третьих по счету, изменений – нововведения в проведении конъюнктурного анализа цен (КАЦ).
                        <br>
                        <br>
                        9 сентября 2025 года вступила в силу новая XML-схема КАЦ, учитывающая эти нововведения.
                    </div>
                    <div class="text container-m">
                        <strong>Мы насчитали шесть главных особенностей КАЦ по приказу Минстроя № 30/пр.</strong>
                        <br>
                        <br>
                        &#128073; Первые четыре <span style="text-decoration: underline;">не зависят от метода определения сметной стоимости</span>:
                        <br>
                        <br>
                        1. Установлены обязательные требования в отношении производителей/поставщиков (П/П):
                        <ol class="list" style="list-style: disc;">
                            <br>
                            <li>производитель/поставщик должен быть <strong>включен в ЕГРЮЛ или ЕРГИП</strong>
                            </li>
                            <li>КАЦ проводится по данным производителей/поставщиков того <strong>субъекта РФ, на территории которого ведется строительство.</strong> Если таковых нет или их недостаточное количество – см. следующий пункт этого списка.
                            </li>
                        </ol>
                    </div>
                    <div class="text container-m">
                        2. Усилена ответственность заказчика за организацию, проведение и проверку КАЦ. И теперь в актуальной Методике № 421/пр четко прописано, что кроме подписания формы КАЦ и обосновывающих цену документов из сети "Интернет" <strong>заказчик обязан письменно подтверждать:</strong>
                        <ol class="list" style="list-style: disc;">
                            <br>
                            <li><strong>Отсутствие</strong> на рынке субъекта РФ, на территории которого осуществляется строительство, <strong>необходимых материальных ресурсов и оборудования,</strong> в том числе в количестве, предусмотренном ПД
                            </li>
                            <li><strong>Отсутствие информации о трех текущих ценах производителей/поставщиков</strong> материальных ресурсов и оборудования (для импортных - двух)
                            </li>
                            <li><strong>Отсутствие информации о двух текущих ценах поставщиков услуг, связанных с перевозкой грузов</strong> при проведении КАЦ
                            </li>
                            <li><strong>Отсутствие информации о трех текущих ценах поставщиков</strong> услуг
                            </li>
                        </ol>
                        </div>
                        <div class="text container-m">
                        3. Вышеуказанные <strong>письма заказчика необходимо передавать в экспертизу в составе КАЦ,</strong> т.е. эти письма должны быть прикреплены к позициям КАЦ.
                        </div>
                        <div class="text container-m">
                        4. <strong>Внесены изменения в форму КАЦ,</strong> теперь в ней 27 граф и 2 раздела.
                        </div>
                        <div class="text container-m">
                        &#128073; Еще две особенности <span style="text-decoration: underline;">касаются только <strong>КАЦ при БИМ</strong></span>:
                        <br>
                        <br>
                        5. В случае отсутствия в ФССЦ-2001 материальных ресурсов и оборудования, предусмотренных ПД, <strong>в отдельном разделе КАЦ</strong> принимаются соответствующие <strong>ресурсы из ФСБЦ-2022</strong> с применением <strong>текущих сметных цен или индексов к ГОСР, размещенных в ФГИС ЦС.</strong>
                        </div>
                        <div class="text container-m">
                        6. Для таких ресурсов (принятых при выполнении КАЦ при БИМ из ФСБЦ-2022) <strong>установлен формат кода</strong> материальных ресурсов и оборудования, состоящий из буквенного обозначения <strong>«ТЦ»</strong> и двух групп цифр, разделенных знаками нижнего подчеркивания:
                         <ol class="list" style="list-style: disc;">
                            <br>
                            <li>первая - соответствует <strong>коду ресурса,</strong> приведенному в ФГИС ЦС
                            </li>
                            <li>вторая - приводится <strong>номер по порядку</strong> кодируемого материального ресурса или оборудования <strong>в КАЦ</strong>
                            </li>
                        </ol>
                        </div>
                    </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>