<!--
Базисно-индексный метод: отменен или нет?

Title head - Базисно-индексный метод: отменен или нет? | Сметная школа
Description - Разбираемся, правомерно ли до сих пор составлять БИМ-сметы, если да - то в каких случаях, и на какие нормативные документы опираться
URL - https://smetaschool.com/poleznye-materialy/bazisno-indeksnyj-metod-otmenen-ili-net
ТЕГ - БИМ
Order - 42
Дата - 01.11.2024 г.
Вам может быть интересно -  Как ориентироваться в письмах Минстроя об индексах СМР
                            Методы определения сметной стоимости строительства
                            История изменений и дополнений в ФЕР редакции 2020 года
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->
                <div class="article">
                    <div class="title-s container-l">
                        Базисно-индексный метод: отменен или нет?
                    </div>
                    <div class="title-date container-date">01.11.2024
                    </div>
                    <div class="lead-text container-m">
                        Отменено ли применения базисно-индексного метода при расчете локальных смет? Если да, то каким
                        постановлением/приказом? Если нет - то в каких случаях правомерно делать расчеты ЛСР
                        базисно-индексным методом?
                    </div>
                    <div class="text container-m">
                        Размещаем два ответа на этот злободневный вопрос.
                        <br>
                        <br>
                        <strong>1. Ответ специалистов Главгосэкспертизы
                        </strong>
                        <br>
                        <br>
                        В соответствии с условиями, предусмотренными частью 1 статьи 3 Федерального закона № 191-ФЗ «О
                        внесении изменений в Градостроительный кодекс Российской Федерации и признании утратившими силу
                        отдельных положений законодательных актов Российской Федерации» и требованиями Правил
                        мониторинга цен строительных ресурсов, утвержденных постановлением Правительства Российской
                        Федерации от 23.12.2016 № 1452 (далее – Правила мониторинга), фактом перехода субъекта
                        Российской Федерации к применению ресурсно-индексного метода (далее – РИМ) определения сметной
                        стоимости строительства является размещение в федеральной государственной информационной системе
                        ценообразования в строительстве (далее – ФГИС ЦС) сметных цен строительных ресурсов и информации
                        об индексах изменения сметной стоимости строительства по группам однородных строительных
                        ресурсов (далее – Индексы ГОСР) для субъекта Российской Федерации, наряду с утверждением
                        сметно-нормативной базы в уровне цен по состоянию на 01.01.2022 (ФСНБ-2022).
                        <br>
                        <br>
                        Следовательно, размещение в соответствии с требованиями пункта 29 Правил мониторинга во ФГИС ЦС
                        сметных цен строительных ресурсов и информации об Индексах ГОСР для субъекта Российской
                        Федерации, устанавливает необходимость начиная с даты такого размещения составления сметной
                        документации в рамках реализации всех новых проектов строительства, реконструкции и капитального
                        ремонта объектов капитального строительства на территории данного субъекта Российской Федерации
                        с применением РИМ.
                        <br>
                        <br>
                        Дополнительно сообщается, что в I квартале 2024 года завершен переход всех субъектов Российской
                        Федерации на РИМ определения сметной стоимости строительства.
                        <br>
                        <br>
                        Таким образом, <strong>в настоящее время определение сметной стоимости строительства по новым
                            проектам выполняется с использованием РИМ.</strong>
                        <br>
                        <br>
                        <strong>Принятие отдельного нормативного правового акта,</strong> в том числе нормативного
                        правового акта субъекта Российской Федерации, <strong>подтверждающего (устанавливающего) момент
                            (факт) перехода на РИМ определения сметной стоимости строительства,</strong> нормативными
                        правовыми актами <strong>не предусмотрено.</strong>
                        <br>
                        <br>
                        Вместе с тем, практическое применение федеральной сметно-нормативной базы в уровне цен по
                        состоянию на 01.01.2000 (ФСНБ-2020) и территориальных сметно-нормативных баз, применение которых
                        предусмотрено порядком, установленным нормативными правовыми актами и методическими документами,
                        утвержденными органами исполнительной власти субъектов Российской Федерации до 03.07.2016,
                        возможно для определения сметной стоимости строительства объектов капитального строительства,
                        задание на выполнение проектно-изыскательских работ по которым было выдано до момента перехода
                        на РИМ, а также для корректировки сметной документации в составе проектной документации,
                        разработанной для реализации проектов базисно-индексным методом.
                        <br>
                        <br>
                        Возможность и случаи применения базисно-индексного метода определения сметной стоимости
                        строительства после перехода на РИМ, а, следовательно, и ФСНБ-2020, установлены положениями
                        постановления Правительства Российской Федерации от 05.03.2007 № 145 «О порядке организации и
                        проведения государственной экспертизы проектной документации и результатов инженерных изысканий»
                        (в редакции постановления Правительства Российской Федерации от 06.05.2023 № 717).
                        <br>
                        <br>
                        <a class="link" href="https://fgiscs.minstroyrf.ru/faq?id=670" target="_blank">Источник</a>
                        <br>
                        <br>
                        <strong>2. В подтверждение ответа ГГЭ - извлечение из размещенного на ФГИС ЦС файла <a
                                class="link" href="https://fgiscs.minstroyrf.ru/prices" target="_blank">«Информация о
                                применении ресурсного метода»</a></strong>
                        <br>
                        <br>
                        <div class="image-container">
                            <a href="https://it-smeta.s3.us-east-1.amazonaws.com/o_primenenii_bim.png" target="_blank">
                                <img class="scrollable-image"
                                    src="https://it-smeta.s3.us-east-1.amazonaws.com/o_primenenii_bim.png" />
                            </a>
                        </div>
                    </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>