<!--
Флеш-версия РИКа: 5 отличий
Флеш-версия РИКа: 5 отличий  | Сметная школа
Description - Особенности флеш-версии программы по сравнению с привычной стационарной.
URL - https://smetaschool.com/poleznye-materialy/flesh-versiya-rika-5-otlichij
ТЕГ - РИК
Order - 39
Дата - 03.07.2024 г.
Вам может быть интересно - Как конвертировать сплит-форму в индексно-ценовой файл в РИКе
                            Как в РИКе выгрузить в XML-формат конъюнктурный анализ цен
                            История изменений и дополнений в ФСНБ-2022
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        Флеш-версия РИКа: 5 отличий
                    </div>
                    <div class="title-date container-date">03.07.2024</div>
                    <div class="lead-text container-m">
                        Флеш-версия представляет собой мобильную версию сметной программы РИК, которая одновременно
                        выполняет роль электронного ключа защиты и флеш-накопителя.
                    </div>
                    <div class="text container-m">
                        При этом программа не требует установки на компьютер и запускается непосредственно с флеш-ключа.
                        <br>
                        <br>
                        На видео рассказываем про основные отличия флеш-версии от привычной стационарной.
                    </div>
                    <div class="video container-m">
                        <iframe style="aspect-ratio: 1.6"
                            src="https://www.youtube.com/embed/4ivfcF0DGGw?si=1_hhzYCQIU8WFcrP"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="text container-m">
                        Разобраться, какой вариант использования программы удобен именно для вас и познакомиться с алгоритмом перехода на флеш-версию вам поможет запись бесплатного вебинара от 27 июня: <a class="link" href="/webinar/270624"
                        target="_blank">«Фреш-новость лета: флеш-версия РИКа»</a>.
                    </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>