<!--
Изменение цены контракта - суть пересчета

Title - Изменение цены контракта - суть пересчета | Сметная школа
Description - Какие причины приводят к необходимости пересчета госконтракта, какие существуют варианты пересчета и от чего зависит выбор того или иного варианта.
URL - https://smetaschool.com/poleznye-materialy/izmenenie-ceny-kontrakta-sut-perescheta
ТЕГ - Контракт
Order - 14
Дата - 7.10.2022 г.
Вам может быть интересно - Что такое госконтракт
                            Разъяснения Минстроя об индексах-дефляторах
                            Учет выполненных работ в РИКе
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->
                <div class="article">
                    <div class="title-s container-l">
                        Изменение цены контракта - суть пересчета
                    </div>
                    <div class="lead-text container-m">
                        Вопросы изменения цены контракта весьма злободневны. В этой статье вы узнаете:
                        <br>- Какие причины приводят к необходимости пересчета контракта?
                        <br>- Какие существуют варианты пересчета и от чего зависит выбор того или иного варианта?
                    </div>
                    <div class="text container-m">
                        Если государственный или муниципальный контракт находится в процессе исполнения, пересчет его
                        стоимости может быть выполнен по двум причинам.
                        <br>
                        <br>
                        Начнем с первой - это <i>изменение объемов или видов работ, конструктивных, технологических и
                            других решений.</i> И в этом случае соответствующий пересчет сметной документации нужно
                        выполнить обязательно. Это очевидно.
                        <br>
                        <br>
                        Суть пересчета заключается в следующем:
                        <br>
                        <br>
                        <ol class="list">
                            <li>Сначала составляются сопоставительные ведомости.</li>
                            <li>Затем выполняется пересчет смет: корректируются объемы работ и исключаются «старые» виды
                                работ. Важно: исключаются по «старым» нормативам и ценам, т.е. тем, которые были
                                использованы при составлении смет.</li>
                            <li>Потом включаются новые виды и объемы работ. А вот включаются - с применением актуальных
                                сметных нормативов, т.е. действующих на дату составления этих смет. А сметные нормативы
                                - это и методики, и базы, и индексы, и цены.</li>
                        </ol>
                        <br>
                        <br>
                        Вторая причина и вторая ситуация - <i>существенное изменение стоимости строительных ресурсов. И
                            что важно - без изменения объемов и видов работ.</i>
                        <br>
                        <br>
                        В этом случае пересчет не является необходимостью или обязанностью застройщика. Это возможности
                        финансирования и, если можно так сказать, его добрая воля.
                        <br>
                        <br>
                        В этом случае, когда причиной пересчета цены контракта является удорожание стоимости
                        строительных ресурсов, суть пересчета зависит от цены контракта.
                        <br>
                        <br>
                        <span style="text-decoration: underline">Если цена контракта не превышает 30 миллионов,</span>
                        то нужно рассчитать коэффициент увеличения стоимости работ, который потом и применяется к тем
                        позициям сметы контракта, которые еще не выполнены. А для этого необходимо составить перечень
                        ценообразующих ресурсов, и не один, а два - для материалов и для оборудования. Затем выбрать
                        только те, которые еще не приобретались, либо закупка которых произведена в 2021 году. Затем из
                        них нужно выбрать те, которые, по мнению подрядчика, наиболее существенно подорожали.
                        <br>
                        <br>
                        Но это не самая сложная задача. Самое трудоемкое дальше - для расчета коэффициента увеличения
                        стоимости работ нужно иметь стоимость ценообразующих ресурсов в трех уровнях цен: на дату
                        составления сметной документации, на дату заключения контракта (т. е. на дату определения НМЦК)
                        и собственно на дату выполнения расчета удорожания. Сложность заключается в том, что из этих
                        трех уровней цен подрядчик располагает только одним - тем, что в сметной документации. Два
                        других уровня надо как-то «добыть». Как? Стоимость ценообразующих ресурсов на дату заключения
                        контракта определяется с помощью индексов фактической и прогнозной инфляции. Стоимость ресурсов
                        на дату расчета определяется на основании данных конъюнктурного анализа цен.
                        <br>
                        <br>
                        <span style="text-decoration: underline">Если цена контракта больше 30-ти миллионов,</span> то
                        нужно определить коэффициент корректировки цены контракта, с помощью которого потом
                        пересчитывается стоимость остатков работ. А для этого нужно пересчитать сметную стоимость,
                        применяя не только новые индексы и текущие цены, но и актуальную базу, актуальные нормативы
                        накладных и прибыли, ну и теперь, конечно, новую 421-ю методику.
                        <br>
                        <br>
                        Ну а <span style="text-decoration: underline">если новая цена контракта превышает 100 миллионов
                            рублей,</span> то такая сметная документация обязательно должна пройти проверку на
                        достоверность. И это упрощенный вариант проверки, которая не может продолжаться больше 14 дней.
                        <br>
                        <br>
                        Теперь известна суть каждого пересчета, который, в свою очередь зависит от конкретной
                        ситуации.<br> Для наглядности мы обобщили информацию в таблицу:
                        <br>
                        <br>
                        <div class="image-container">
                            <a href="https://it-smeta.s3.amazonaws.com/tablica-izmenenie-ceny-kontrakta.jpg"
                                target="_blank">
                                <img class="scrollable-image" src="https://it-smeta.s3.amazonaws.com/tablica-izmenenie-ceny-kontrakta-kor.jpg" />
                            </a>
                        </div>
                        <br>
                        <br>
                        Это общая схема для понимания всей картины. Чтобы подробнее узнать, как выполняется пересчет на
                        конкретных примерах из жизни - смотрите запись практического вебинара
                        <a class="link" href="/webinar/200922" target="_blank">«Пересчет сметной стоимости как путь
                            изменения цены контракта».</a>
                    </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>