<!--
Как в РИКе по Методике 421/пр отнести стоимость материалов и оборудования на затраты заказчика или подрядчика?
Title head - Как в РИКе отнести стоимость материалов на затраты заказчика? | Сметная школа
Description head - Как в РИКе по Методике 421/пр отнести стоимость материалов и оборудования на затраты заказчика или подрядчика - рассмотрим ситуацию с методической и технической точек зрения.
Description - Рассмотрим ситуацию с методической и технической точек зрения.
URL - https://smetaschool.com/poleznye-materialy/kak-v-rike-po-metodike-421-otnesti-stoimost-materialov-na-zatraty-zakazchika
ТЕГ - Методика 421, РИК
Order - 11
Дата - 17.08.2022 г.
Вам может быть интересно - Как узнать период действия разных версий баз ФЕР и ГЭСН
                            История изменений и дополнений в ГЭСН-2020
                            Учет выполненных работ в РИКе

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->
                
                <div class="article">
                    <div class="title-s container-l">
                        Как в РИКе по <span class="nowrap">Методике 421/пр</span> отнести стоимость материалов и оборудования на затраты
                        заказчика или подрядчика?
                    </div>
                    <div class="lead-text container-m">
                        Сметчикам часто требуется отнести стоимость материалов и оборудования на затраты заказчика или подрядчика по
                        новой Методике 421/пр. В статье разберемся с этой задачей.
                    </div>
                    <div class="text container-m">
                        Давайте рассмотрим ситуацию с двух точек зрения – методической и технической.
                        <br>
                        <br>
                        Если сметная документация составляется по Методике 421/пр, то
                        новая методика не предусматривает отнесения
                        стоимости материалов и оборудования на затраты заказчика. Таким образом, с методической точки зрения
                        ответ на
                        вопрос в заглавии статьи отрицательный.
                        <br>
                        <br>
                        Однако обстоятельства и требования реальной жизни часто диктуют свои условия, и у сметчика может возникнуть
                        необходимость отнести материалы на затраты заказчика, невзирая на требования Методики 421/пр. Можно ли сделать
                        это в РИКе с технической точки зрения? Ответ на видео.
                    </div>
                
                    <div class="video container-m">
                        <iframe style="aspect-ratio: 1.6" src="https://www.youtube.com/embed/nMcVI2rhUeI" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                
                <div class="text container-m">
                        А если хотите узнать, с какими еще трудностями сталкиваются ваши коллеги-сметчики и как решают их – смотрите
                        вебинар <a class="link" href="/webinar/190422" target="_blank">«Вы спрашивали - мы отвечаем»</a>
                        полностью.
                       
                    </div>
                </div>
                

                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>