<!--
Как сформировать ВОР в xml-формате

Title head - Как сформировать ВОР в xml-формате | Сметная школа

Description head - Рассказываем, как сформировать ВОР в соответствии с новыми требованиями Минстроя России.

Description - Рассказываем, как сформировать ВОР в соответствии с новыми требованиями Минстроя России.

URL - https://smetaschool.com/poleznye-materialy/kak-sformirovat-vor-v-xml-formate

ТЕГ - ВОР

Order - 55

Дата - 25.08.2025 г.

Вам может быть интересно - Сплит-форма: мини-словарь терминов
                           Ответы Главгосэкспертизы на вопросы сметчиков
                           История изменений и дополнений в ФСНБ-2022
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        Как сформировать ВОР в xml-формате
                    </div>
                    <div class="title-date container-date">25.08.2025</div>
                    <div class="lead-text container-m">
                        11 января 2025 года вступила в силу XML-схема ведомости объемов работ (ВОР) и с тех пор к ВОР предъявляются следующие требования:
                        <br>
                        <br>
                        <ol class="list" style="list-style: disc;">
                            <li>ВОР должна содержать ссылки на листы проектной (или иной) документации.
                            </li>
                            <li>Между ВОР и локальной сметой должна быть установлена попозиционная связь.
                            </li>
                            <li>ВОР на проверку в госэкспертизу необходимо направлять строго в XML-формате.
                            </li>
                        </ol>
                    </div>
                    <div class="text container-m">
                        <strong>Сформировать ВОР</strong> с соблюдением этих требований можно <strong>тремя способами.</strong>
                        <br>
                        <br>
                        <ol class="list">
                            <li><strong>В сметной программе</strong> - разработчики сметных программ дополнили свой функционал возможностью создания ВОР с последующей выгрузкой в XML-формат (на <a class="link" href="/webinar" target="_blank">наших вебинарах</a> мы показываем, как это сделать).
                            </li>
                            <br>
                            <li><strong>В открытом (бесплатном) модуле сервиса</strong> <a class="link" href="https://smetafree.platformaexpert.ru/project/3340/start/" target="_blank">Комплексной проверки сметных расчетов</a> (КПСР) от Главгосэкспертизы, где есть полноценный редактор ВОР, позволяющий создавать ВОР и выгружать в XML-формат.
                            <br>
                            <br>
                            Подробнее об использовании сервиса читайте в статье ГГЭ <a class="link" href="https://gge.ru/press-center/news/kak-sformirovat-vedomost-obemov-rabot-v-formate-xml/" target="_blank">Как сформировать ведомость объемов работ в формате XML.</a>
                            </li>
                            <br>
                            <li><strong>В Excel,</strong> для этого в том же сервисе КПСР нужно предварительно скачать шаблон XLSX-файла (перейти в дереве проекта в раздел <a class="link" href="https://smetafree.platformaexpert.ru/project/29/vor/" target="_blank">«Ведомость объемов работ»</a> и нажать на кнопку «Пример в формате Excel»). После заполнения нажать кнопку «Импорт» и загрузить XLSX-файл в КПСР.
                            <br>
                            <br>
                            При этом способе важно понимать, что при заполнении шаблона XLSX-файла графу 6.1 «Наименование файла» нужно заполнять вручную.
                            </li>
                        </ol>
                        <br>
                        <br>
                        <a class="link" href="https://disk.yandex.ru/i/sOFpNdYEsvNREw" target="_blank">Пример заполнения ВОР из КПСР.</a>
                    </div>
                    <div class="text container-m">
                        Для сведения*: при проведении проверки достоверности определения сметной стоимости необходимо направлять в госэкспертизу строго в XML-формате следующие документы:
                        <br>
                        <br>
                        <ol class="list" style="list-style: disc;">
                            <li>сводка затрат (при необходимости)
                            </li>
                            <li>сводные сметы (ССРСС)
                            </li>
                            <li>объектные сметы (ОСР)
                            </li>
                            <li>локальные сметы (ЛСР)
                            </li>
                            <li>сметы на отдельные виды затрат
                            </li>
                            <li>результаты конъюнктурного анализа цен (КАЦ)
                            </li>
                            <li>ведомости объемов работ (ВОР)
                            </li>
                        </ol>
                        <br>
                        <i>* Информация верна на дату написания данной статьи.</i>
                    </div>
                        <div class="image-container">
                            <a href="https://it-smeta.s3.us-east-1.amazonaws.com/vor_v_xml.png" target="_blank">
                                <img class="scrollable-image"
                                    src="https://it-smeta.s3.us-east-1.amazonaws.com/vor_v_xml.png"/>
                            </a>
                        </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>