<!--
Как конвертировать сплит-форму в индексно-ценовой файл в РИКе
Как конвертировать сплит-форму в индексно-ценовой файл в РИКе | Сметная школа

Description - Подробная пошаговая инструкция по конвертации скачанной с ФГИС ЦС сплит-формы в индексно-ценовой файл РИКа для работы ресурсно-индексным методом.
URL - https://smetaschool.com/poleznye-materialy/kak-v-rike-konvertirovat-split-formu-v-indeksno-cenovoj-fajl
ТЕГ - РИМ
Order - 34
Дата - 10.03.2024 г.
Вам может быть интересно - История изменений и дополнений в ФЕР редакции 2022 года
                            Новая кодировка перевозки в РИМ-смете
                            Новая кодировка ремонтных сборников в РИМ-Смете

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        Как конвертировать сплит-форму в индексно-ценовой файл в РИКе
                    </div>
                    <div class="title-date container-date">10.03.2024</div>
                    <div class="lead-text container-m">
                        Сметные цены и индексы изменения сметной стоимости к группам однородных строительных ресурсов, которые необходимы при работе ресурсно-индексным методом (РИМ), ежеквартально публикуются на портале ФГИС ЦС и доступны там для скачивания в виде сплит-формы.
                    </div>
                    <div class="text container-m">
                        При составлении РИМ-сметы в программе РИК сметчик может пойти двумя путями:
                        <br>
                        <br>
                        1. Приобрести и использовать готовый индексно-ценовой файл в формате программы, сформированный разработчиком.
                        <br>
                        2. Самостоятельно конвертировать скачанную сплит-форму в индексно-ценовой файл.
                    </div>
                    <div class="text container-m">
                        У каждого пути есть свои сильные и слабые стороны, мы неоднократно обсуждали их на <a class="link" href="/webinar" target="_blank">
                            вебинарах по РИМ</a> и мастер-классе <a class="link" href="course/mk-rim-v-rike" target="_blank">
                                “Как составить РИМ-смету в РИКе”.</a>
                    </div>
                    <div class="text container-m">
                        Если же вы уже знакомы со всеми подводными камнями и  решились конвертировать сплит-форму в индексно-ценовой файл самостоятельно, вам поможет наша пошаговая инструкция.
                        <br>
                        <br>
                        <a class="link-button"
                            href="https://drive.google.com/file/d/1ZPwXhqmMpG-AXwH13Q6a-NPwa7hz1cCl/view?usp=drive_link"
                            target="_blank">
                            <svg width="30px" height="30px" viewBox="0 0 30 30">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g stroke="var(--orange)" transform="translate(1.000000, 1.000000)">
                                        <circle cx="14.2" cy="14.1" r="14.1"></circle>
                                        <path d="M12.1,19.9 L17.7,14.3 L12.1,8.7"></path>
                                    </g>
                                </g>
                            </svg>
                            <div class="link-text">
                                Посмотреть инструкцию.
                            </div>
                        </a>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>