<!--
Как правильно использовать индексы Минстроя в РИКе
Как правильно использовать индексы Минстроя в РИКе | Сметная школа
Description head - Расскажем про особенности двух основных способов внесения индексов Минстроя в смету в РИКе и как не допустить ошибок при их применении.
Description - Расскажем про особенности двух основных способов внесения индексов Минстроя в смету в РИКе и о том,  как не допустить ошибок при их применении.
URL - https://smetaschool.com/poleznye-materialy/kak-pravilno-ispolzovat-indeksy-minstroya-v-rike
ТЕГ - РИК
Order - 16
Дата - 22.12.2022 г.
Вам может быть интересно - Как ориентироваться в письмах Минстроя об индексах СМР
                            История изменений и дополнений в ФЕР редакции 2020 года
                            Методы определения сметной стоимости
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->
                
                <div class="article">
                    <div class="title-s container-l">
                        Как правильно использовать индексы Минстроя в РИКе
                    </div>
                    <div class="title-date container-date">22.12.2022</div>
                    <div class="lead-text container-m">
                        Если проверка вашей сметы на достоверность обязательна, то на сегодняшний день при ее составлении вам нужно использовать  Методику 421/пр, федеральные единичные расценки и индексы Минстроя.
                    </div>
                    <div class="text container-m">
                        Это, что называется, вариант по умолчанию. По крайней мере до тех пор, пока не перейдем на ресурсно-индексный метод.
                        <br>
                        <br>
                        Но и в других случаях, не требующих проверки сметы на достоверность, заказчик часто выбирает самый распространенный на данный момент метод - базисно-индексный, с использованием индексов Минстроя.
                        <br>
                        <br>
                        При составлении сметы в РИКе существует два основных способа внесения индексов Минстроя:
                        <br>
                        - вручную;
                        <br>
                        - с применением файла с индексами Минстроя.
                        <br>
                        <br>
                        Каковы особенности каждого из них и как не допустить ошибок при их применении – смотрите на видео.
                    </div>
                    <div class="video container-m">
                        <iframe style="aspect-ratio: 1.6" src="https://www.youtube.com/embed/0HziSC6ADM0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                <div class="text container-m">
                    Узнать ответы на прочие, самые актуальные и наболевшие вопросы наших клиентов – пользователей программы РИК, вы сможете, посмотрев запись вебинара <a class="link" href="/webinar/151222" target="_blank">«Вы спрашивали - мы отвечаем».</a>
                    </div>
                </div>
                

                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>