<!--
Как выгрузить конъюнктурный анализ цен в XML-формат в ГРАНД-Смете
Как выгрузить конъюнктурный анализ цен (КАЦ) в XML-формат в ГРАНД-Смете | Сметная школа
Description head - Увидите, как в программе ГРАНД-Смета выгрузить конъюнктурный анализ цен в формат XML ГГЭ для подачи документов в экспертизу и как проверить безошибочность выгрузки.
Description - Увидите, как в программе ГРАНД-Смета выгрузить конъюнктурный анализ цен в формат XML ГГЭ для подачи документов в экспертизу и как проверить безошибочность выгрузки.
URL - https://smetaschool.com/poleznye-materialy/kak-vygruzit-konyunkturnyj-analiz-tsen-v-xml-format-v-grand-smete
ТЕГ - ГРАНД-Смета, КАЦ
Order - 22
Дата - 13.07.2023 г.
Вам может быть интересно - Как в РИКе выгрузить в XML-формат конъюнктурный анализ цен.
                            Новая база 2022 года и переход на ресурсно-индексный метод – когда и к чему готовиться сметчику?
                            БИМ или РИМ - три критерия правильного выбора метода определения сметной стоимости.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        Как выгрузить конъюнктурный анализ цен в XML-формат в ГРАНД-Смете
                    </div>
                    <div class="title-date container-date">13.07.2023</div>
                    <div class="lead-text container-m">
                        С 2023 года форму конъюнктурного анализа цен необходимо предоставлять в экспертизу вместе со
                        сметой только в XML-формате, что накладывает свои требования на правила оформления результатов
                        КАЦ.
                    </div>
                    <div class="text container-m">
                        В связи с этим разработчики сметных программ реализовали для своих пользователей возможность выгрузки конъюнктурного анализа цен (КАЦ) в формат XML ГГЭ.
                        <br>
                        <br>
                        На видео рассказываем, как экспортировать конъюнктурный анализ в формат XML в программе ГРАНД-Смета. А также о том, как проверить его на отсутствие ошибок (то есть провести валидацию) до передачи в экспертизу.
                    </div>
                    <div class="video container-m">
                        <iframe style="aspect-ratio: 1.6" src="https://www.youtube.com/embed/txX-vGpB09o"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="text container-m">
                        Если вам интересно, как оформить конъюнктурный анализ в ГРАНД-Смете с нуля или как загрузить уже готовую форму КАЦ из excel в программу – смотрите бесплатный вебинар <a class="link"
                        href="/webinar/060723" target="_blank">«Учет прайсовых позиций в ГРАНД-Смете»</a> полностью.
                        <br>
                        <br>
                        А от начала до конца разобраться в порядке и приемах проведения КАЦ, действующих сегодня, вам поможет новый видеоурок <a class="link"
                            href="/course/kak_vypolnit_kac" target="_blank">«Как выполнить конюънктурный анализ цен сегодня».</a>
                    </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>