<!--
Краткое содержание дополнений и изменений 8 в ФЕР-2001 редакции 2020 года

Description - Таблица с кратким содержанием приказа Минстроя России № 746/пр поможет сметчику быстро выяснить, затронули изменения сборники, которые используются в его сметах, или нет.
URL - https://smetaschool.com/poleznye-materialy/kratkoe-soderzhanie-izmeneniya-8-v-fer-2020
ТЕГ - Базы
Дата - 17.08.2022 г.
Вам может быть интересно - Как узнать период действия разных версий баз ФЕР и ГЭСН
                            История изменений и дополнений в ФЕР редакции 2020 года
                            Краткое содержание дополнений и изменений 9, внесенных приказом Минстроя России от 20.12.2021 № 962/пр в ФЕР-2001 редакции 2020 года
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        Краткое содержание дополнений и изменений 8 в ФЕР-2001 редакции 2020 года
                    </div>
                    <div class="lead-text container-m">
                        Таблица с кратким содержанием приказа Минстроя России от 14.10.2021 №746/пр поможет сметчику
                        быстро выяснить, затронули изменения сборники, которые используются в его сметах, или нет.
                    </div>
                    <div class="text container-m">
                        Таблица содержит перечень всех сборников федеральных единичных расценок (ФЕР), сгруппированных в
                        соответствии с приложениями к приказу Минстроя о внесении изменений: ФЕР, ФЕРр, ФЕРм, ФЕРп,
                        ФССЦпг, ФССЦ и ФСЭМ. По каждому сборнику приведены сведения о том, что нового появилось (столбец
                        «дополнено») и что было изменено (столбец «изменено») по сравнению с предыдущей редакцией базы.
                        <br>
                        <br>
                        Если приказом Минстроя какой-либо сборник затронут, в соответствующих графах указаны конкретные
                        номера таблиц расценок, пункты Общих положений и номера приложений. Если не затронут - стоит
                        прочерк.
                        <br>
                        <br>
                        <a class="link-button"
                            href="https://drive.google.com/file/d/1qbDidZktzIXTpsc0Km0QDK4M3QVararY/view?usp=sharing"
                            target="_blank">
                            <svg width="30px" height="30px" viewBox="0 0 30 30">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g stroke="var(--orange)" transform="translate(1.000000, 1.000000)">
                                        <circle cx="14.2" cy="14.1" r="14.1"></circle>
                                        <path d="M12.1,19.9 L17.7,14.3 L12.1,8.7"></path>
                                    </g>
                                </g>
                            </svg>
                            <div class="link-text">
                                Посмотреть таблицу.
                            </div>
                        </a>
                        <br>
                        Подробное содержание дополнений изменений смотрите в <a class="link"
                            href="https://minstroyrf.gov.ru/upload/iblock/55a/Pril_r_prikazu_Minstroya_14.10.2021_746_pr.pdf" target="_blank">приложении
                            к приказу Минстроя России от 14.10.2021 № 746/пр.</a>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>