<!--
Методы определения сметной стоимости строительства

Description - Коротко расскажем о сути всех актуальных методов определения сметной стоимости.
URL - https://smetaschool.com/poleznye-materialy/metody-opredeleniya-smetnoj-stoimosti
ТЕГ - БИМ, РМ, РИМ
Order - 8
Дата - 17.08.2022 г.
Вам может быть интересно - Как узнать период действия разных версий баз ФЕР и ГЭСН
                            Как ориентироваться в письмах Минстроя об индексах СМР
                            Как в РИКе по Методике 421/пр отнести стоимость материалов и оборудования на затраты заказчика или подрядчика?
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        Методы определения сметной стоимости строительства
                    </div>
                    <div class="lead-text container-m">
                        Коротко расскажем о сути всех актуальных методов определения сметной стоимости.
                    </div>
                    <div class="text container-ls">
                        <strong>БАЗИСНО-ИНДЕКСНЫЙ МЕТОД</strong>
                        <br>
                        <br>
                        <strong>База</strong>: ФЕР, ТЕР
                        <br>
                        <br>
                        <strong>Индексы</strong>: Минстроя России (по объектам строительства), региональные индексы
                        (попозиционные).
                        <br>
                        <br>
                        <strong>Текущие цены</strong>: цены поставщиков по данным конъюнктурного анализа - только для
                        «прайсовых» позиций с последующей реиндексацией в базисный уровень цен.
                        <br>
                        <br>
                        <strong>Суть метода</strong>: каждая позиция локальной сметы переводится в текущий уровень цен
                        умножением базисной стоимости на индекс(ы).
                    </div>
                    <div class="text container-ls">
                        <strong>РЕСУРСНО-ИНДЕКСНЫЙ МЕТОД (начиная со II квартала 2022 года) </strong>
                        <br>
                        <br>
                        <strong>База</strong>: ГЭСН
                        <br>
                        <br>
                        <strong>Индексы</strong>: изменения к составляющим единичных расценок, а также индексы к сметной
                        стоимости отдельных материалов, изделий, конструкций, оборудования, эксплуатации машин и
                        механизмов или к стоимости однородных групп таких строительных ресурсов.
                        <br>
                        <br>
                        <strong>Текущие цены</strong>: сметные цены, размещенные в ФГИС ЦС.
                        <br>
                        <br>
                        <strong>Суть метода</strong>: в базисном уровне цен 2021 года используются цены на материалы,
                        изделия, конструкции и оборудование, применяемые в строительстве (ФССЦ-2021), расценки на
                        эксплуатацию строительных машин и автотранспортных средств (ФСЭМ-2021), цены на перевозку грузов
                        для строительства (ФССЦпг-2021).
                        Для перевода в текущий уровень цен применяются сметные цены строительных ресурсов, размещенные в
                        ФГИС ЦС, а при их отсутствии – индексы к отдельным строительным ресурсам и индексов к группам
                        однородных строительных ресурсов, а для ресурсов, на которые будут отсутствовать сметные цены в
                        базисном уровне цен 2021 года - цены поставщиков по данным конъюнктурного анализа.
                    </div>
                    <div class="text container-ls">
                        <strong>РЕСУРСНЫЙ МЕТОД</strong>
                        <br>
                        <br>
                        <strong>База</strong>: ГЭСН
                        <br>
                        <br>
                        <strong>Индексы</strong>: не применяются.
                        <br>
                        <br>
                        <strong>Текущие цены</strong>: цены поставщиков, региональные сметные цены строительных
                        ресурсов. В перспективе - цены, размещенные в Федеральной государственной информационной системе
                        ценообразования в строительстве (ФГИС ЦС).
                        <br>
                        <br>
                        <strong>Суть метода</strong>: все ресурсы локальной сметы расцениваются по текущим ценам,
                        стоимость каждой работы калькулируется из стоимостей входящих в нее ресурсов.
                    </div>
                    <div class="text container-m">
                        Эту же информацию в графическом исполнении смотрите на схеме (источник - сайт Минстроя России):
                        <a class="link"
                            href="https://drive.google.com/file/d/1ZOM_rcRJWGpwWo-9LhWZpRkqPL1XOThS/view?usp=sharing" target="_blank">методы
                            определения сметной стоимости строительства.</a>
                    </div>
                </div>

            </div>


            <!-- end -->
        </div>
    </div>
    </div>
</body>

</html>