<!--
Новая кодировка перевозки в РИМ-смете
Новая кодировка перевозки в РИМ-смете | Сметная школа
Description head - Как расшифровать новую кодировку позиций с информацией о сметных ценах на погрузку-перевозку из ФГИС ЦС и узнать всю информацию о перевозимом грузе.
Description - Как расшифровать новую кодировку позиций с информацией о сметных ценах на погрузку-перевозку из ФГИС ЦС и узнать всю информацию о перевозимом грузе.
URL - https://smetaschool.com/novaya-kodirovka-perevozki-v-rim-smete
ТЕГ - РИМ
Order - 26
Дата - 11.10.2023 г.
Вам может быть интересно - История изменений и дополнений в ФСНБ-2022
                            Новая кодировка ремонтных сборников в РИМ-смете
                            БИМ или РИМ - три критерия правильного выбора метода определения сметной стоимости
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        Новая кодировка перевозки в РИМ-смете
                    </div>
                    <div class="title-date container-date">11.10.2023</div>
                    <div class="lead-text container-m">
                        Ресурсно-индексный метод - это порядок расчета, при котором одновременно используются новая
                        ФСНБ-2022 и размещенные во ФГИС ЦС индексно-ценовые показатели.
                    </div>
                    <div class="text container-m">
                        ФСНБ-2022 – это сметные нормы, т.е. новые ГЭСНы, и сметные цены строительных ресурсов в базисном
                        уровне цен: ФСБЦ - федеральный сборник базисных сметных цен на строительные материалы, раньше он
                        назывался ФССЦ, и ФСЭМ - федеральный сборник базисных сметных цен на эксплуатацию машин и
                        механизмов. Таков состав базы-2022. В новой базе нет ФЕРов и нет сборника на перевозку и
                        погрузо-разгрузочные работы.
                        <br>
                        <br>
                        Ресурсно-индексный метод предполагает определение сметной стоимости работ по погрузке и
                        перевозке на основании информации о сметных ценах, размещенной во ФГИС ЦС.
                        <br>
                        <br>
                        На примере информации о сметных ценах на перевозку и погрузо-разгрузочные работы из сплит-формы,
                        размещенной на ФГИС ЦФ за 3 квартал 2023 года по Калининградской области рассказываем, по каким
                        принципам теперь формируется кодировка таких позиций. Новый шифр - “говорящий”, по нему можно
                        считать всю информацию о перевозимом грузе.
                    </div>
                    <div class="video container-m">
                        <iframe style="aspect-ratio: 1.6"
                            src="https://www.youtube.com/embed/nz8iW1D1MG0?si=SbldXUVZxh3oHkxq"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="text container-m">
                        Если вы хотите пройти весь путь по составлению РИМ-сметы в сметной программе и получить алгоритм
                        действий - смотрите записи вебинаров <a class="link" href="/webinar/120923" target="_blank">“РИМ
                            в РИКе”</a> и <a class="link" href="/webinar/140923" target="_blank">“РИМ в
                            ГРАНД-Смете”</a>.
                    </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>