<!--
Новая база 2022 года и переход на ресурсно-индексный метод – когда и к чему готовиться сметчику?

Title head - Новая база 2022 года и переход на ресурсно-индексный метод – когда и к чему готовиться сметчику? | Сметная школа
Description head - Наглядная схема, которая поможет сметчику определить - какой базой пользоваться и какой метод расчета применять в 2023 году.
Description - Наглядная схема, которая поможет сметчику определить - какой базой пользоваться и какой метод расчета применять в 2023 году.
URL - https://smetaschool.com/poleznye-materialy/novaya-baza-2022-goda-i-perekhod-na-resursno-indeksnyj-metod-kogda-k-chemu-gotovitsya-smetchiku
ТЕГ - Базы, РИМ, ФГИС
Order - 18
Дата - 09.02.2023 г.
Вам может быть интересно - Методы определения сметной стоимости
                            Что такое госконтракт
                            Изменение цены контракта - суть пересчета
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->
                <div class="article">
                    <div class="title-s container-l">
                        Новая база 2022 года и переход на ресурсно-индексный метод – когда и к чему готовиться сметчику?
                    </div>
                    <div class="title-date container-date">09.02.2023</div>
                    <div class="lead-text container-m">
                        25 февраля 2023 года – дата вступления в силу новых государственных сметных нормативов ФСНБ-2022, при этом применяемые сегодня сметно-нормативные базы ФЕР и ГЭСН редакции 2020 года не отменяются. Обе базы включены в Федеральный реестр сметных нормативов, а значит, обе могут использоваться при разработке сметной документации.
                    </div>
                    <div class="text container-m">
                        Вдобавок, в 2023 году начался переход на ресурсно-индексный метод определения сметной стоимости, который должен завершиться в 3 квартале этого года.
                        <br>
                        <br>
                        Все эти события влекут за собой кардинальные перемены в работе сметчика и вызывают вопросы, главные из которых «Какой базой пользоваться?» и «Какой метод применять?».
                        <br>
                        <br>
                        Ответ на оба эти вопроса – на приведенной ниже схеме:
                        <br>
                        <br>
                        <div class="image-container">
                            <a href="https://it-smeta.s3.amazonaws.com/shema_perehod_na_rim.jpg"
                                target="_blank">
                                <img class="scrollable-image" src="https://it-smeta.s3.amazonaws.com/shema_perehod_na_rim.jpg" />
                            </a>
                        </div>
                        <br>
                        Вот краткие пояснения к этой схеме.
                        <br>
                        <br>
                        Сегодня, работая базисно-индексным методом, мы применяем старые ФЕРы и индексы по видам объектов строительства, ежеквартально публикуемые в письмах Минстроя России.
                        <br>
                        <br>
                        Сегодня, работая ресурсным методом, мы применяем старые ГЭСН и региональные текущие цены (ценник, ресурсный файл).
                        <br>
                        <br>
                        После вступления в действие новой сметно-нормативной базы мы будем жить с двумя одновременно действующими базами: ФСНБ-2001 редакции 2020 года и ФСНБ-2022.
                        <br>
                        <br>
                        Но для тех, кто составляет сметы базисно-индексным методом дата вступления новой базы в силу не влечет за собой никаких последствий, по крайней мере, до тех пор в ФГИС ЦС не появятся текущие цены ресурсов вместе с новыми индексами по группам однородных ресурсов. Поэтому, работая базисно-индексным методом, мы продолжаем применять старые ФЕРы и индексы по видам объектов строительства.
                        <br>
                        <br>
                        Работая ресурсным методом, мы будем продолжать применять региональные текущие цены в номенклатуре нового КСР, при этом перейдем на новую базу 2022 года, т.е. на новые ГЭСНы.
                        <br>
                        <br>
                        Важно понимать, что переход на ресурсно-индексный метод «завязан» на дату размещения во ФГИС текущих сметных цен и индексов по однородным группам ресурсов. Именно тогда и те, кто применял базисно-индексный метод, и те, кто работал ресурсным методом должны будут использовать один единственный метод - ресурсно-индексный.
                        <br>
                        <br>
                        И тогда всем нам для составления смет понадобится новая база редакции 2022 года, а для перевода их в текущий уровень - размещенные в ФГИС ЦС цен текущие сметные цены и индексы по группам ресурсов.
                        <br>
                        <br>
                        Таковы краткие комментарии к сложившейся ситуации. А если вам важно понимать причинно-следственные связи происходящих событий, если вы хотите планировать свое ближайшее будущее - смотрите запись вебинара
                        <a class="link" href="/webinar/020223" target="_blank">«Сметное ценообразование в 2023 году: как не заблудиться».</a> Вебинар станет для вас путеводителем по актуальным в наступившем году правилам игры в сметном ценообразовании!
                    </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>