<!--
Новая кодировка ремонтных сборников в РИМ-смете
Новая кодировка ремонтных сборников в РИМ-смете | Сметная школа
Description head - Как ориентироваться в новой структуре сборников ГЭСНр и понимать новую кодировку ремонтных сборников.
Description - Как ориентироваться в новой структуре сборников ГЭСНр и понимать новую кодировку ремонтных сборников.
URL - https://smetaschool.com/novaya-kodirovka-remontnyh-sbornikov-v-rim-smete
ТЕГ - РИМ
Order - 27
Дата - 11.10.2023 г.
Вам может быть интересно - История изменений и дополнений в ФСНБ-2022
                            Новая кодировка перевозки в РИМ-смете
                            БИМ или РИМ - три критерия правильного выбора метода определения сметной стоимости
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        Новая кодировка ремонтных сборников в РИМ-смете
                    </div>
                    <div class="title-date container-date">11.10.2023</div>
                    <div class="lead-text container-m">
                        Ресурсно-индексный метод - это порядок расчета, при котором одновременно используются новая
                        ФСНБ-2022 и размещенные во ФГИС ЦС индексно-ценовые показатели.
                    </div>
                    <div class="text container-m">
                        ФСНБ-2022 – это сметные нормы, т.е. новые ГЭСНы, и сметные цены строительных ресурсов в базисном
                        уровне цен: ФСБЦ - федеральный сборник базисных сметных цен на строительные материалы, раньше он
                        назывался ФССЦ, и ФСЭМ - федеральный сборник базисных сметных цен на эксплуатацию машин и
                        механизмов. Таков состав базы-2022. В новой базе нет ФЕРов и нет сборника на перевозку и
                        погрузо-разгрузочные работы.
                        <br>
                        <br>
                        Также особенностью базы является новая кодировка норм на ремонтно-строительные работы и новая
                        структура сборников ГЭСНр. На видео рассказываем о новом принципе кодировки и его отличии от
                        прежнего, привычного нам, принятого в базе ФСНБ-2020.
                    </div>
                    <div class="video container-m">
                        <iframe width="720" height="405" src="https://rutube.ru/play/embed/4f0b9df77a75f07a6973b5aa9f740504/?p=fq2bHDCm8k0L8iGu_QVqyw&skinColor=ffb300" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    </div>
                    <div class="text container-m">
                        Если вы хотите пройти весь путь по составлению РИМ-сметы в сметной программе и получить алгоритм
                        действий - смотрите записи вебинаров <a class="link" href="/webinar/120923" target="_blank">“РИМ
                            в РИКе”</a> и <a class="link" href="/webinar/140923" target="_blank">“РИМ в
                            ГРАНД-Смете”</a>.
                    </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>