<!--
Ответы Главгосэкспертизы на вопросы сметчиков
Ответы Главгосэкспертизы на вопросы сметчиков  | Сметная школа

Description - Подборка ответов Главгосэкспертизы на вопросы сметчиков

URL - https://smetaschool.com/poleznye-materialy/otvety-glavgosehkspertizy-na-voprosy-smetchikov

ТЕГ - Ценообразование
Order - 38
Дата - 01.07.2024 г.
Вам может быть интересно - История изменений и дополнений в ФСНБ-2022
                            Принципиальные отличия новой базы для РИМ от «старой» для БИМ
                            БИМ или РИМ - три критерия правильного выбора метода определения сметной стоимости
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        Ответы Главгосэкспертизы на вопросы сметчиков
                    </div>
                    <div class="title-date container-date">01.07.2024
                    </div>
                    <div class="lead-text container-m">
                        Главгосэкспертиза России ежемесячно проводит вебинары, посвященные:
                        <br>
                        <br>- последним изменениям законодательства о градостроительной деятельности;
                        <br>- влиянию указанных изменений на проведение экспертизы проектной документации и результатов
                        инженерных изысканий;
                        <br>- причинам, вызвавшим эти изменения.

                    </div>
                    <div class="text container-m">
                        Посмотреть записи этих вебинаров можно <a class="link"
                            href="https://edu.gge.ru/expert-school/webinar/"
                            target="_blank">здесь.
                        </a>
                        <br>
                        <br>
                        Специально для сметчиков мы сделали подборку вопросов-ответов к вебинару ГГЭ от 22 мая 2024 года
                        на важные именно для них темы.
                        <br>
                        <br>
                        Вот, например, ответ на такой злободневный вопрос (орфография и пунктуация автора сохранены):
                        <br>
                        <br>
                        &#10067; Как часто будут вноситься изменения в сметно-нормативную базу ФСНБ-2022? может будет
                        какой-то упорядочить данные внесения по срокам?
                        <br>
                        <br>
                        &#9989; Плановая частота внесения изменений в ФСНБ-2022 - 4 раза в год, т.е. по 1 дополнению в
                        квартал. Изменения и дополнения утверждаются к ежеквартальной публикации индексов и цен.
                        Возможно, при поступлении особых поручений, может быть внеплановое внесение изменений и
                        дополнений.
                        <br>
                        <br>
                        <a class="link-button"
                            href="https://drive.google.com/file/d/1ky4ax3zM2bGqiYATaTxcS6nNFHDaDjc8/view?usp=drive_link"
                            target="_blank">
                            <svg width="30px" height="30px" viewBox="0 0 30 30">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g stroke="var(--orange)" transform="translate(1.000000, 1.000000)">
                                        <circle cx="14.2" cy="14.1" r="14.1"></circle>
                                        <path d="M12.1,19.9 L17.7,14.3 L12.1,8.7"></path>
                                    </g>
                                </g>
                            </svg>
                            <div class="link-text">
                                Посмотреть все ответы на вопросы сметчиков.
                            </div>
                        </a>
                    </div>
                </div>

                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>