<!--
Принципиальные отличия новой базы для РИМ от «старой» для БИМ
Принципиальные отличия новой базы для РИМ от «старой» для БИМ | Сметная школа
Description - Расскажем о главных отличиях новой ФСНБ-2022 от предыдущей базы редакции 2020 года.
URL - https://smetaschool.com/poleznye-materialy/principialnye-otlichiya-novoj-bazy-dlya-rim-ot-staroj-dlya-bim
ТЕГ - РИМ
Order - 32
Дата - 26.02.2024 г.
Вам может быть интересно - История изменений и дополнений в ФСНБ-2022
                            Новая кодировка перевозки в РИМ-смете
                            Новая кодировка ремонтных сборников в РИМ-Смете
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        Принципиальные отличия новой базы для РИМ от «старой» для БИМ
                    </div>
                    <div class="title-date container-date">26.02.2024</div>
                    <div class="lead-text container-m">
                        25 февраля 2024 года очередные 14 субъектов РФ (и ЗАТО г. Саров) перешли на РИМ, таким образом с 1 квартала 2024 года РИМ применяют уже 85 субъектов!
                    </div>
                    <div class="text container-m">
                        Но не все знают, что переход на РИМ влечет применение новой ФСНБ-2022. В ролике рассказываем о принципиальных отличиях новой базы для РИМ от «старой» для БИМ.
                        <br>
                        <br>
                        Кстати, очередные, девятые по счету, дополнения и изменения в новую ФСНБ-2022 также вступили в силу с 25 февраля. Таким образом, с этой даты мы составляем РИМ-сметы в уровне цен 1 квартала в новой редакции ФСНБ с изм. 9.
                    </div>
                    <div class="video container-m">
                        <iframe width="720" height="405" src="https://rutube.ru/play/embed/77e261d0acef9153971543e8bb11b50c/?skinColor=d57700" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    </div>
                    <div class="text container-m">
                        Видео – фрагмент бесплатного вебинара <a class="link" href="/webinar/240124" target="_blank">«BIM, ТИМ, РИМ, индексы к ГОСР, сплит-форма и еще 10 новоиспеченных терминов. Знакомьтесь: современный словарь сметчика»</a> от 24 января.
                    </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>