<!--
РИМ-смета в РИКе: особенности учета железнодорожных перевозок
Title head - РИМ-смета в РИКе: особенности учета железнодорожных перевозок | Сметная школа
Description head - Особенности учета позиций железнодорожной перевозки в РИМ-смете в РИКе.
Description - Особенности учета позиций железнодорожной перевозки в РИМ-смете в РИКе.
URL - https://smetaschool.com/poleznye-materialy/rim-smeta-v-rike-osobennosti-ucheta-zh-d-perevozok
ТЕГ - РИМ
Order - 35
Дата - 06.05.2024 г.
Вам может быть интересно - Как конвертировать сплит-форму в индексно-ценовой файл в РИКе
                            Новая кодировка перевозки в РИМ-смете
                            Новая кодировка ремонтных сборников в РИМ-Смете
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../globals.css">
    <link rel="stylesheet" href="../templates/">
    <link rel="stylesheet" href="../override-bootstrap.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../docStyles.css">
    <base target="_blank">
</head>

<body>
    <div class="container" style="margin-top: 300px;">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <!-- start -->

                <div class="article">
                    <div class="title-s container-l">
                        РИМ-смета в РИКе: особенности учета железнодорожных перевозок
                    </div>
                    <div class="title-date container-date">06.05.2024</div>
                    <div class="lead-text container-m">
                        С выходом апрельской версии РИКа в программе появилась возможность полноценной работы с железнодорожными перевозками.
                    </div>
                    <div class="text container-m">
                        Для работы с ними, кроме новой версии программы, вам понадобятся:
                        <br>
                        <br>
                        <ol class="list">
                            <li>База, включающая железнодорожные перевозки.
                            </li>
                            <li>Индексно-ценовые показатели, также включающие железнодорожные перевозки.

                            </li>
                        </ol>
                        <br>
                        <br>
                        Как правильно добавить позиции железнодорожной перевозки в смету - рассказываем на видео.
                    </div>
                    <div class="video container-m">
                        <iframe width="720" height="405" src="https://rutube.ru/play/embed/8f726ddf2c9504984f319f2d21006a2c/?p=7CN523gdX-_0tpDOCVPyHg&skinColor=d57700" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    </div>
                    <div class="text container-m">
                        Чтобы узнать о других важных и полезных изменениях в программе - смотрите бесплатный вебинар
                        <a class="link" href="/webinar/250424?utm_source=scitc&utm_medium=vk&utm_campaign=zweb_250424" target="_blank">“Новое и полезное в РИКе”.</a>

                    </div>
                </div>


                <!-- end -->
            </div>
        </div>
    </div>
</body>

</html>